{% extends "layout.html" %} {% load static %} {% block content %} 
{% load humanize %}

<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{propiedad.nombre}}</h1>
            <span class="color-text-a">{{propiedad.ubicacion}}</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav
            aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="property-grid.html">Propiedades</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{propiedad.nombre}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->

  <!-- ======= Property Single ======= -->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div id="property-single-carousel" class="swiper">
            <div class="swiper-wrapper">
              {% for i in img  %}
              <div class="carousel-item-b swiper-slide">
                <img src='{{ i.imagen.url }}' alt="Responsive image" /> 
              </div>
              {% endfor %}
              
          </div>
          <div
            class="property-single-carousel-pagination carousel-pagination"
          ></div>
        </div>
      </div>

<!-- Container for the image gallery -->

      <div class="row">
        <div class="col-sm-12">
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="bi bi-cash">$</span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h5 class="title-c">
                      {{propiedad.costo | intword}} {{propiedad.moneda}}
                    </h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Ficha Técnica</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>ID de la Propiedad:</strong>
                      <span>{{propiedad.id}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Ubicación:</strong>
                      <span>{{propiedad.ubicacion}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Tipo de Propiedad:</strong>
                      <span>{{propiedad.propiedad}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Tipo de Operación:</strong>
                      <span>{{propiedad.operacion}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Área:</strong>
                      <span
                        >{{propiedad.terreno}}m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Metros Construidos:</strong>
                      <span
                        >{{propiedad.construccion}}m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Habitaciones:</strong>
                      <span>{{propiedad.habitaciones}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Baños:</strong>
                      <span>{{propiedad.banos}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Pisos:</strong>
                      <span>{{propiedad.pisos}} </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Estacionamientos:</strong>
                      <span>{{propiedad.estacionamientos}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Descripción de la Propiedad</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">
                  {{propiedad.descripcion}}
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- End Property Single-->
</main>
<!-- End #main -->






{% endblock %}




